<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/pulse/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-c0rj6xRl6Zm4U4BwLaWhUoP/xPI8Sq+9Gt0F+JO5DSLZN0Ur0Ihc6rU59Rbgk1zV" crossorigin="anonymous">
    <title>{{ site.title }}</title>
    <style type="text/css">
        body, p.lead {
            font-size: 1.5rem;
        }
        a {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container mt-5">

    <div class="jumbotron">
        <h1>{{ page.title }}</h1>

        {{ content }}

    </div>
    <div>
        <table class="table table-borderless table-hover" style="">
            <thead>
            <tr>
                <th scope="col" style="padding-left: 2rem">PHP version event</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>

            {%- for event in site.data.php reversed %}
            {%- assign security = false -%}
            {%- if event.type contains 'security' %}
                {% assign security = true %}
            {%- endif %}
            {%- assign old = false -%}
            {%- assign year = event.date | date: '%Y' -%}
            {%- assign currentYear = "now" | date: '%Y' -%}
            {%- if year < currentYear %}
                {% assign old = true %}
            {%- endif %}
            <tr class="{% if security %}table-warning{% endif %} {% if old %}text-muted{% endif %} ">
                <td style="padding-left: 2rem">{{ event.version }} {{ event.type }}</td>
                <td>{{ event.date | date: "%Y‒%m‒%d" }}</td>
            </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <p class="text-center">Created by <a href="https://www.Rarst.net/">Rarst</a> | Source on <a
                href="https://github.com/Rarst/php-calendar">GitHub</a></p>

</div>
</body>
</html>