<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/pulse/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Tt49/uH7xRJMCIU5qH2HEeWNZLx4BKZwYN0H7NJ2jo9v732hZJ7yHl0xUu2Lkt04" crossorigin="anonymous">
    <title>{{ site.title }}</title>
    <style type="text/css">
        body, p.lead {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container mt-5">

    <div class="jumbotron">
        <h1>{{ page.title }}</h1>

        {{ content }}
    </div>

    <hr/>
    <p class="text-center">Created by <a href="https://www.Rarst.net/">Rarst</a> | Source on <a
                href="https://github.com/Rarst/php-calendar">GitHub</a></p>

</div>
</body>
</html>